html, body {
    margin: 0;
    padding: 0;
}

body{
    background: url(gradident_back.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}

canvas {
    display: block;
    margin-top: 50px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
